# Feature Flags
REACT_APP_FEATURE_FLAGS={"FEATURE_NOTIFICATIONS":true,"REMINDERS":true,"BROWSER_NOTIFICATIONS":true}
# Alternatively control them individually:
# REACT_APP_FEATURE_NOTIFICATIONS=true
# REACT_APP_REMINDERS=true
# REACT_APP_BROWSER_NOTIFICATIONS=true
